<div class="container">
  <h2 id="title">Demo of ember-spin-button2 Addon</h2>

  <div class="controls-container">
    <h3>Button Color</h3>
    <div class="control-group">
      {{#each buttonColors as |color|}}
        <div><label>{{radio-button value=color groupValue=selectedColor}} {{color}}</label></div>
      {{/each}}
    </div>

    <h3>Animation style</h3>
    <div class="control-group">
      {{#each buttonStyles as |style|}}
        <div><label>{{radio-button value=style groupValue=selectedAnimation}} {{style}}</label></div>
      {{/each}}
    </div>

    <h3>Timeout</h3>
    <div class="control-group">
      <label for="button-timeout-range">{{timeout}}ms</label> {{input id="button-timeout-range" type="range" max="60000" step="500" value=timeout}}
    </div>

  </div>

  <p><label>{{input type="checkbox" checked=inFlight}} In-Flight</label></p>

  <div class="demo-container">
    {{#spin-button
      data-color=selectedColor
      classNames=(unless selectedColor 'btn btn-primary')
      action=(action "createWithPromise")
      defaultTimout=timeout
      buttonStyle=selectedAnimation}}Click Me (With Promises){{/spin-button}}

    <br>
    <br>
    {{#spin-button
      data-color=selectedColor
      classNames=(unless selectedColor 'btn btn-primary')
      inFlight=inFlight
      action=(action "createWithoutPromise")
      defaultTimout=timeout
      buttonStyle=selectedAnimation}}Click Me (Without Promises){{/spin-button}}
  </div>


  <div class="controls-container">

    <h3>Template Code</h3>
    <div class="control-group">
      <textarea id="txt-template-code" rows=9 cols=100>{{templateCode}}</textarea>
    </div>

  </div>

  <a class="install-btn" href="https://github.com/ivanvanderbyl/ember-spin-button">Installation Instructions</a>

  {{outlet}}
</div>
